<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Rubiest Development">
    <meta name="author" content="Rubiest Development">
    <meta name="google-site-verification" content="L156mW9vMoT1AX5b5RpnEgJpmqf3EwLrJe6WhbCG-0E" />
    <title>rdev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'analytics' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
